@charset "UTF-8";
/* 커뮤니티 목록
------------------*/
.content-main h3.subtitle{
   font-size:30px;
   margin-top:20px;
}

form#search_form{
	display:flex;
	justify-content:center;
	align-items: center;
}
ul.search{
	list-style:none;
	margin:0;
	padding:0;
	display:flex;
}
ul.search li{
	margin-bottom:10px;
}
input#keyword, select#keyfield{
	height:32px;
	font-size:14px;
}

select#keyfield{
	width:70px;
}

input#search{
	height:32px;
	margin-left:5px;
	font-size:14px;
	cursor:pointer;
	background-color:#6496BA;
	border:none;
	color:#fff;
}
input#write{
	padding:5px 10px;
	font-size:14px;
	background-color:#333;
  	color:#fff;
  	border:none;
 	cursor:pointer;
 	border-radius:5px;
}
#write[disabled] {
  opacity:0.5;
  cursor:default;
}

.list-space{
	margin:15px 0;
}
table{
	width:100%;
	border:1px solid #eaeaea;
	border-collapse:collapse;
	margin-bottom:20px;
	margin-top:10px;
}
th, td{
  padding:10px;
  text-align:center;
}
th{
  background-color:#dedede;
  font-weight:bold;
  border-bottom:1px solid #f9f9f9;
}
td{
  border-bottom:1px solid #ccc;
}
tr:nth-child(even){
  background-color:#f9f9f9;
}
tr:hover{
  background-color:#EFFBFF;
}


/* 커뮤니티 글쓰기
------------------*/
#write_form label{
  display:block;
  font-weight:bold;
  margin:15px 0 5px 0;
}
#write_form input[type="text"]{
  width:500px;
  padding:10px;
  border:1px solid #ccc;
  border-radius:5px;
}
#write_form textarea{
  width:1000px;
  height:300px;
  padding:10px;
  border:1px solid #ccc;
  border-radius:5px;
}
.submit, .home{
  padding:8px 20px;
  background-color:#333;
  color:#fff;
  border:none;
  border-radius:5px;
  cursor:pointer;
  margin-right:10px;
  margin-bottom:30px;
  font-size:14px;
}
.home{
  background-color:#ccc;
}
.submit:hover, .home:hover{
  background-color:#6496BA;
}


/* 커뮤니티 글상세
------------------*/
#detail{
	margin:25px 30px;
}
.detail-info {
   font-size:15px;
   padding:8px;
   background:#d6d6d6;
   margin-top:40px;
   display:flex;
   align-items:center;
}
.detail-info li{
	margin-right:15px;
}
.detail-info li b{
	font-size:20px;
}
 #detail p {
   font-size:16px;
   line-height:1.8;
   margin:20px 0;
   padding:0 20px
}
.detail-sub{
	padding:20px 0 0 0;
	text-align:right;
	margin:0;
}
.writer{
	margin-left:auto;
}


/* 커뮤니티 글수정
------------------*/
#update_form label{
  display:block;
  font-weight:bold;
  margin:15px 0 5px 0;
}
#update_form input[type="text"]{
  width:500px;
  padding:10px;
  border:1px solid #ccc;
  border-radius:5px;
}
#update_form textarea{
  width:1000px;
  height:300px;
  padding:10px;
  border:1px solid #ccc;
  border-radius:5px;
}
 
/* 리뷰 목록
------------------*/
.review-container {
  border-radius:5px;
  padding:10px;
  margin:5px 19px 40px 19px;
  width:500px;
  height:285px;
  float:left;
  border:solid 1px #6496BA;
}

.rev {
  padding:1px 10px 10px 15px;
  width:350px;
  height:215px;
  border:solid 1px #ccc;
  color:#888;
}

.sub {
  padding:3px 10px;
  margin:0;
  display:flex;
  font-size:16px;
}

.sub li{
	padding-right:10px;
}

.rev-main{
	padding:0;
	margin:0;
	display:flex;
	align-items:center;
}

.rev-main li{
	padding:15px; 
}

li.review-image{
	padding:15px 0;
	font-size:14px;
	text-align:center;
}


.review-image img{
  max-width:100px;
  height:100px;
  border-radius:100%;
}

.rev h5{
  margin:10px 0;
  font-size:18px;
}

.like{
	margin-left:auto;
}

.float-clear{
	clear:both;
}

/* 댓글
------------------*/
 


.reply_div{
	margin:20px;
	padding:10px;
	border:1px solid #ccc;
	border-radius:5px;
}

.modify-date{
	font-size:14px;
	color:#979797;
}

.re-title{
	font-weight:bold;
	margin:20px;
}

#re_form{
	margin-bottom: 10px;
}

.rep-content{
	width:90%;
	height:20px;
	resize:none;
	padding:5px;
	margin:20px 20px 5px 20px;
	font-size:14px;
	border:none;
	outline-color:#6496bab8;
}

.rep-content-mo{
	width:98%;
	height:40px;
	resize:none;
	margin:20px 0;
	padding:10px;
	font-size:14px;
	border-color:#6496BA;
	border-radius:5px;
}

.rep-content-mo:focus{
	outline:none;
}

#re_first, #re_second{
	margin:10px 20px;
}

.letter-count{
	float:left;
	color:#888;
}

.reply_submit{
	border:none;
	background-color:#6496BA;
	color:white;
	padding:10px 20px;
	border-radius:5px;
	cursor:pointer;
}

.paging-button {
	margin:20px;
	text-align:right;
}

.paging-button input[type="button"] {
	padding: 10px 20px;
	background-color: #f0f0f0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#output{
	margin:20px 30px;
}

