@charset "UTF-8";

/* 상품 목록
---------------*/
.image-space .horizontal-area{
	margin:4px 20px 16px 20px;
	padding:5px;
	width:210px;
	height:270px;
	float:left;
	overflow:hidden;
	text-align:center;
}
.image-space .horizontal-area img{
	width:245px;
	height:225px;
}
.image-space .float-clear{
	clear:both;
}
/*검색창*/
form#search_form{
	border: none;
}
ul.search{
	width: 340px;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}
ul.search li{
	margin: 0 0 9px 0;
	padding: 0;
	display: inline;
}
.list-space{
	margin-bottom: 10px;
	margin-right: 50px;
}

/*테이블*/
table{
	margin-left: 250px;
	text-align: center;
	width: 80%;
	height: 200px;
	/* padding: 5px; */
}
th{
	background-color: #effbff;
	font-size: 15px;
	height: 30px;
}
/*기본틀*/
.content-main{
	padding: 10px 20px;
}
form{
	width: 600px;
	margin: 0 auto;
	padding: 10px 10px 10px 30px;
}
label{
	width: 130px;
	float: left; /*태그를 왼쪽에 정렬*/
}

ul{
	list-style: none;
}
.logreg{
	margin-top: 30px;
	margin-left: 300px;
}
