@charset "UTF-8";

/* 상품 페이지 형식
---------------*/
.page-title{
	margin: 20px 30px;
}

.border-line{
	color:6496BA;
}
.product-main{
	padding:0 120px 0 280px;
	margin:0 0 35px 0;
	height:auto;
}
.product-main > h3{
	border-bottom: 1px solid #8f9ba8;
	padding-bottom:20px;
}
.image-space{
	margin: -15px 0 20px 0;
    border-top: 2px solid #7c8691;
    border-bottom: 1px solid #7c8691;
    overflow: hidden;
}
/* 상품 목록
---------------*/
.item-list{
	margin-bottom:2px;
}
.image-space .horizontal-area{
	margin:16px 32px 16px 40px;
	padding:10px 0 23px 0;
	width:210px;
	height:280px;
	float:left;
	overflow:hidden;
	text-align:center;
}
.image-space .horizontal-area img{
	width:245px;
	height:225px;
	margin-bottom:15px;
}
.item-name{
	color:#999999;
	font-size:18px;
    font-weight:bold;
    margin:0 auto;
    padding:12px 0 10px;
    text-align:center;
}
.price{
	color: #008BCC;
	font-size: 17px;
    font-weight: bold;
}
.image-space .float-clear{
	clear:both;
	padding-top:10px;
}
.btn{
	background-color:#333;
	color:#fff;
	border:none;
	border-radius:5px;
	cursor:pointer;
	font-size:14px;
	padding:5px 10px;
	margin:3px 0;
}
/*검색창*/
form#search_form{
	border:none;
}
ul.search{
	width:340px;
	list-style:none;
	padding:0;
	margin:0 auto;
	display:flex;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
.list-space{
	margin-bottom:10px;
	margin-right:50px;
}
select#keyfield{
	height:32px;
	font-size:14px;
}
input#keyword{
	height:32px;
	font-size:14px;
	width:350px;
}
input#search{
	color:#fff;
	background-color:#6496BA;
	border:none;
	cursor:pointer;
	height:32px;
	font-size:14px;
	margin-left:8px;
	padding:6px 12px 8px 12px;
}
.item-search{
	padding:20px 0;
	display: flex;
    justify-content: center;
    align-items: center;
}

/*테이블*/
table {
	width: 100%;
	border: 1px solid #eaeaea;
	border-collapse: collapse;
	margin-bottom: 20px;
	margin-top: 10px;
}

th, td {
	padding: 10px;
	text-align: center;
}

th {
	background-color: #dedede;
	font-weight: bold;
	border-bottom: 1px solid #f9f9f9;
}

td {
	border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

tr:hover {
	background-color: #EFFBFF;
}
/*기본틀*/
.content-main{
	padding:10px 20px;
}
form{
	width:600px;
	margin:0 auto;
	padding:10px 10px 10px 30px;
}
label{
	width:130px;
	float:left; /*태그를 왼쪽에 정렬*/
}

ul{
	list-style:none;
}
.logreg{
	margin-top:30px;
	margin-left:300px;
}
/* 페이지 제목
---------------*/
.product-main h3.subtitle{
	font-size:30px;
	margin-top:20px;
}
/* 상품 등록 및 수정폼
---------------*/
.form-title{
	font-size:30px;
	margin-left:140px;
}
.interval{
	margin-top:15px; 
}
.product-form{
	border:1px solid #6496BA;
	border-radius:5px;
	width:800px;
	padding-bottom:30px;
}
.product-content{
	padding:10px 0;
}
.product-label{
	width:250px;
	font-weight:bold;
	font-size:18px;
}
.form-file{
	padding-left:250px;
	margin-top:3px;
}
.form-btn{
	background-color:#333;
	color:#fff;
	border:none;
	border-radius:5px;
	cursor:pointer;
	font-size:14px;
	padding:5px 15px;
	margin:3px 3px;
}

/* 상품 상세
---------------*/
#item_cart{
	width:1000px;
	margin-bottom:50px;
}
#item_total_txt{
	font-size:22px;
	font-weight:bold;
}
.product-info{
	width:1200px;
	font-size:30px;
	margin-left:60px;
	padding-bottom:20px;
	border-bottom: 1px solid;
}
.item-image{
	float:left;
}
.o_image{
	margin:10px 40px 10px 60px;
}
.product-name{
	font-size:28px;
	font-weight:bold;
	padding:5px 0 20px 0;
}
.product-detail{
	font-size:20px;
	margin:10px 0;
	padding:2px 0;
}
.order-quantity{
	margin-right:-25px;
}
.quantity-width{
	font-size:16px;
}
.delivery-notice{
	margin-top:20px;
}
.delivery{
	font-size:18px;
	font-weight:bold;
    color:#2e8de5;
}
.desc{
	display:block;
    color:#aaa;
    margin:2px 0 5px 0;
}
.total{
	overflow:hidden;
    margin:50px 0 10px 0;
}
.order-button{
	margin-top:16px;
    height:50px;
}
.list-button{
	background:#fff;
    border:1px solid #d9d9d9;
    color:#233594;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}
.cart-button{
	background:#2e8de5;
    border:1px solid #217fd7;
    color:#fff;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}
.detail-list{
	width:1200px;
	font-size:25px;
	font-weight:bold;
	margin-left:60px;
	padding-bottom:10px;
	border-bottom: 1px solid
}
.detail{
	margin:0 100px 0 60px;
	padding:15px 0;
}
/* 장바구니
---------------*/
#cart_order{
	width:1000px;
}
.cart > form > table tr { 
	border-bottom:1px solid #d3d3d3 ;
}
.cart > form > table td { 
	padding:10px 0;
}
.cart > form > table td > a > span { 
	vertical-align:super;
}
#restore {
    border-color: #bdbdbd;
    border-bottom-color: #828282;
    background: #fafafa;
    padding: 6px 11px;
    border-width: 1px;
    margin-top: 8px;
}
.cart-table{
	width: 100%;
    border-bottom:1px solid #d3d3d3;
    border-collapse:collapse;
    border-spacing:0;
    margin-left:0;
}
.cart > form > .total {
    float: right;
    width: 360px;
    padding: 9px 18px 15px;
    margin: 12px 0 24px 0;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
}
.cart > form > .total > span{
	color: #0d0d0d;
    font-size: 18px;
    font-weight: bold;
}
.cart > form > .total > input[type=submit] {
    font-size:20px;
    font-weight:bold;
    border:1px solid #d9d9d9;
    border-radius:2px;
    border-width:1px;
    background-image: -webkit-linear-gradient(#1c79b8, #2e8de5);
    color:#fff;
    cursor:pointer;
    box-sizing: border-box;
    margin-top: 10px;
    padding:3px 5px;
}
.delete-button{
	background-color:#333;
	border:none;
	border-radius:5px;
	color:white;
	cursor:pointer;
	font-size:13px;
	font-weight:bold;
	padding:3px 5px;
}
.modify-button{
	color:#fff;
	background-color:#6496BA;
	border:none;
	cursor:pointer;
	height:25px;
	padding:2px 8px 10px 8px;
	margin-top:5px;
} 
.sold-out{
	color:red;
}
.float-clear{
	float:clear;
}
/* 배송 안내
---------------*/
.bottom-notice{
	border:3px solid #dbd8ce;
	margin:0 330px 30px;
	padding:0 30px;
}
.order-notice1{
	margin-top:10px;
	padding: 20px 10px 3px 9px;
}
.order-notice2{
	margin-bottom:10px;
	padding: 3px 10px 20px 9px;
}
.cs{
	padding: 30px 0 30px 0;
    background: #f7f7f7;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
	overflow:hidden;
    position:relative;
}
.cs-inner{
	margin:0 auto;
	width:745px;
}
.cs-center{
	float:left;
    height:200px;
    width:300px;
    margin-left:40px;
}
.phone{
	font-size:22px;
    font-weight:bold;
    color:#293744;
    letter-spacing:-1px;
}
.office-hour{
	font-size:15px;
	margin-top:10px
}
.banking-info{
	float:left;
    height:200px;
    width:300px;
    margin:0 20px 0 20px;
    padding-left:60px;
    border-left:3px solid #f0f0f0;
}
.banking-info div{
    font-size: 15px;
    padding-bottom: 8px;
    line-height: 20px;
}
/*관리자페이지*/
.list-spaces{
	margin-bottom:10px;
}