@charset "UTF-8";
.main-photo{
	background:url("/../images/병원외관.jpg");
	bottom:top;
}
.main-img{
	text-align:center;
}
.content-main{
	text-align:center;
	padding:5px 0;;
}
.table-main{
	margin:0 auto;
}
.table-main td{
	padding:30px 120px;
}
.main{
	text-align:center;
}
p{
	width:1000px;
	margin:0 auto;
}
.content-main-title{
	font-size:48px;
}
.content-sub{
	padding:10px 0;
	background-color:#effbff;
	text-align:center;
}
.content-sub-title{
	font-size:30px;
}
.content-sub2{
	text-align:center;
	padding:10px 0;
} 
.content-main-p{
	padding:0px 0px 20px 0px;
}
.content-sub-title2{
	padding:10px 0;
}
.main-login{
	list-style:none;
}