@charset "UTF-8";

.main-img{
	text-align:center;
}
.main{
	text-align:center;
	margin-top:80px;
}
.main-div{
	text-align:center;
	border:solid 1px #ccc;
	box-shadow:0 2px 6px rgba(5,5,5,0.3);
	width:1200px;
	margin:50px 0 50px 0;
	height:400px;
	display:inline-flex;
}

.main-div li{
	display:inline;
}

.main-div ul{
	margin:0px;
	padding:0;
}
.main-div img{
	width:600px;
	height:400px;
}

.main-content-title{
	margin:50px;
	font-size:50px;
	color:#6496BA;
}

.main-div-content{
	width:600px;
	margin:20px;
}

.main-content-subtitle{
	font-size:40px;
	margin-top:60px;
}

.main-content{
	font-size:20px;
	line-height:35px;
}
.content-sub{
	margin:50px auto;
}
.content-sub-title{
	font-size:50px;
    color:#6496BA;
    margin:30px auto;
}
.content-sub > p{
	display:block;
    font-size:22px;
    text-align:center;
}
.disease-main{
	margin:30px;
}
.disease-main ul{
	display:flex;
    justify-content:space-evenly;
    margin-top:40px;
}
.box p{
	text-align: center;
    color: #333;
    font-size: 20px;
    margin-top: 10px;
}

/* .main-photo{
	background:url("/../images/병원외관.jpg");
	bottom:top;
}
.main-img{
	text-align:center;
}
.content-main{
	text-align:center;
	padding:5px 0;;
}

.table-main td{
	padding:30px 120px;
}
.main{
	text-align:center;
}
p{
	width:1000px;
	margin:0 auto;
}
.main-content-title{
	font-size:48px;
}


.content-sub2{
	text-align:center;
	padding:10px 0;
} 
.main-content-p{
	padding:0px 0px 20px 0px;
}
.content-sub-title2{
	padding:10px 0;
} */