@charset "UTF-8";

.content-mainn {
	padding: 10px 20px;
	margin: 40px 0 150px 0;
	text-align: center;
}

.content-main h2.subtitle {
	font-size: 30px;
	margin: 40px 0 20px 55px;
}

.result-display {
	width: 440px;
	height: 300px;
	margin: 50px auto;
	border: 1px solid #6496BA;
	display: flex;
	align-items: center; /*세로 정렬*/
	justify-content: center; /*가로 정렬*/
}

#detail_form {
	width: 600px;
	height: 250px;
	border: 1px solid #6496BA;
	align-items: center; /*세로 정렬*/
	justify-content: center; /*가로 정렬*/
}

form {
	width: 600px;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
}

#detail_form label, .supyung label{
	margin-top: 0;
}

label {
	width: 130px;
	float: left; /*태그를 왼쪽에 정렬*/
	margin-top: 15px;
	font-weight: 550;
	text-align: left;
}

.logreg-e {
	margin-top: 10px;
}

.logreg-a {
	margin-top: 50px;
	margin-bottom: 30px;
}
/* 
.form-notice {
	color: red;
	font-size: small;
} */
#detailadmin {
	margin-top: 0;
}

/*검색창*/
/* form#search_form {
	border: none;
}

ul.search {
	width: 400px;
	list-style: none;
	padding: 0;
	margin: 0 0 0 260px;
}

ul.search li {
	margin: 0 0 0 0;
	padding: 0;
	display: inline;
}

.list-space {
	margin-bottom: 10px;
	margin-right: 50px;
}

.content-main h3.subtitle{
   font-size:30px;
   margin-top:20px;
}*/
form#search_form {
	display: flex;
	justify-content: center;
	align-items: center;
}

ul.search {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

ul.search li {
	margin-bottom: 10px;
}

input#keyword, select#keyfield {
	height: 32px;
	font-size: 14px;
}

input#search {
	height: 32px;
	margin-left: 5px;
	font-size: 14px;
	cursor: pointer;
	background-color: #6496BA;
	border: none;
	color: #fff;
}

/*텍스트박스?*/
/* input {
	margin-top: 6px;
} */
/*로그인/회원가입*/
#login_form input[id="id"], #login_form input[id="passwd"] {
	width: 350px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 15px;
}

#register_form input[id="id"] {
	width: 268px;
	height: 40px;
	margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="email"] {
	width: 370px;
	height: 40px;
	border: 1px solid #dee2e6;
	font-size: 13px;
	border-radius: 5px;
	margin-bottom: 10px;
}

input[id="zipcode"] {
	width: 268px;
	height: 40px;
	margin-bottom: 10px;
}

input[type="number"] {
	width: 100px;
	height: 40px;
	margin-bottom: 10px;
}

#login_form .loginbtn {
	border: 0;
	background-color: #6496BA;
	border: 1px solid #6496BA;
	width: 350px;
	height: 50px;
	border-radius: 5px;
	margin-top: 10px;
	color: #ffffff;
	font-size: 20px;
	/* box-shadow: 2px 2px 5px #b0b2b5; */
}

.regisbtn {
	border: 0;
	width: 350px;
	height: 50px;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 20px;
	border: solid 1px #6496BA;
	background-color: #ffffff;
	color: #6496BA
}

#register_form .regibtn {
	border: 0;
	background-color: #6496BA;
	border: 1px solid #6496BA;
	width: 330px;
	height: 50px;
	border-radius: 5px;
	margin-top: 30px;
	color: #ffffff;
	font-size: 20px;
	/* box-shadow: 2px 2px 5px #b0b2b5; */
}

#regigo {
	margin: 10px 0 10px 180px;
}

#regigo a {
	color: #64686c;
	font-size: 13px;
}

.zipbtn {
	width: 98px;
	height: 43px;
	border-radius: 5px;
	font-size: 13px;
	border: solid 1px #6496BA;
	background-color: #ffffff;
	color: #6496BA
}
/*테이블*/
/* table {
	margin-left: 250px;
	text-align: center;
	width: 80%;
	height: 200px;
	padding: 5px;
}

th {
	background-color: #effbff;
	font-size: 15px;
	height: 30px;
}

td {
	height: 30px
}

.itemtable {
	border-width: 1px;
} */
.list-space {
	margin: 15px 0;
}

table {
	width: 100%;
	border: 1px solid #eaeaea;
	border-collapse: collapse;
	margin-bottom: 20px;
	margin-top: 10px;
}

th, td {
	padding: 10px;
	text-align: center;
}

th {
	background-color: #dedede;
	font-weight: bold;
	border-bottom: 1px solid #f9f9f9;
}

td {
	border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

tr:hover {
	background-color: #EFFBFF;
}
#btn {
	height: 32px;
	margin-left: 5px;
	font-size: 14px;
	cursor: pointer;
	background-color: #6496BA;
	border: none;
	color: #fff;
}
/*오시는길*/
.supyung {
	display: flex;
	border: 1px solid #b0b2b5;
	border-radius: 5px;
}
.supyung div{
	width: 50%;
	margin: 0 30px 30px 30px;
	
}

.supyung li{
	font-size: 15px;
	margin-bottom: 10px;
}
.supyung span{
	color: red;
}
.supyung p{
	color: blue;
	font-size: 20px;
}