@charset "UTF-8";
h2{
	text-align:left;
}
.right{
	float:right;
}
table{
	width:100%;
}
ul.search{
	width:340px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	padding:0;
	display:inline;
}