@charset "UTF-8";
.order-h2{
	text-align:left;
	margin:40px 10px 10px 130px;
}
.order-hr{
	width:90%;
}
.order-table{
	width:80%;
	margin:0 auto;
	text-align:center;
}
.order-tablesub{
	width:60%;
	margin:0 auto;
	text-align:center;
}
.order-table-button{	
	margin-right:5px;
	text-align:center;	
}
#order_form{
	width:600px;
	margin:0 auto;
}
input[type="text"]{
	width:440px;
	height:25px;
	border: 1px solid #dee2e6;
}
textarea {
	width:440px;
	border: 1px solid #dee2e6;
}

input[id="zipcode"]{
	width:325px;
}
.delivery_text{
	text-align:center;
	color:red;
}
.color-red{
	color:red;	
}
modify-hidden li label{
	width:100px;
}
/* 테이블 맨 윗줄 */
.admin-item{
	background-color:#dedede;
}
/* 테이블 항목 가운데 정렬 */
.admin-subitem{
	text-align:center;
}
.order-item{
	width:80px;
	float:left;
}
.order-page{
	text-align:center;
}

/* 버튼 오른쪽 정렬 */
.order-button{
	float:right;
}
input[type="button"], #btn{
	height:32px;
	margin-left:5px;
	font-size:14px;
	cursor:pointer;
	background-color:#6496BA;
	border:none;
	color:#fff;
} 
/* 검색창 */
form#search_form{
	display:flex;
	justify-content:center;
	align-items: center;
}
input#keyword{
    height: 32px;
    font-size: 14px;
    width: 350px;
}
select#keyfield{
	height:32px;
	font-size:14px;
}

select#keyfield{
	height: 32px;
    font-size: 14px;
}

input#search{
	height:32px;
	margin-left:5px;
	font-size:14px;
	cursor:pointer;
	background-color:#6496BA;
	border:none;
	color:#fff;
}
ul.search{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
}
table{
	width:100%;
	border:1px solid #eaeaea;
	border-collapse:collapse;
	margin-bottom:20px;
	margin-top:10px;
}
th, td{
  padding:10px;
  text-align:center;
}
th{
  background-color:#dedede;
  font-weight:bold;
  border-bottom:1px solid #f9f9f9;
}
td{
  border-bottom:1px solid #ccc;
}
tr:nth-child(even){
  background-color:#f9f9f9;
}
tr:hover{
  background-color:#EFFBFF;
}
/* 의료진소개 
------------------*/
.v-line {
    border-left : thick solid #999;
    height : 600px;
	float:left;
}
.medical-int{
	width:400px;
	float:left;
}
.medical-photo{
	width:300px;
	height:300px;
}
.medical-center{
	text-align:center;
}
.medical-left{
	text-align:left;
	margin:30px 0 0 50px;
}