@charset "UTF-8";

/* 전체 레이아웃
------------------*/
body{
	width:100%;
	margin:0 auto;
}
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:none;
	color:#6C6C6C;
}
.page-main{
	background:#FFFFFF;
}
.content-main{
	padding:10px 20px;
	height:1000px;
}

/* 공통 정렬
------------------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}

ul{
	list-style:none;
}

/* header : 공통 상단 */
#main_nav{
	width:100%;
	background-color: #6496BA;
	height:40px;
	/*
		1. outer-menu 가운데 정렬이 안됨.
		2. inner-menu 왼쪽 공감 조금 빈곳 처리가 안됨.
	*/
}

.textright{
	text-align:right;
}
.menuright{
	float:right;
}
.outer-menu-item{
	float:left;
	position:relative;
	width:120px;
	
}
.outer-menu-item:hover{
	border-radius:10px;
	color: black;
}
.outer-menu-item:hover .inner-menu{
	display:block;
}

.menu-title{
	display:block;
	height:30px;
	line-height:30px;
	text-align:center;
	padding:5px 20px;
}

.inner-menu{	
	display:none;
	position:absolute; /* 백그라운드 사라짐 */
	top:40px;
	left:0;
	width:100%;
	background:white;
	box-shadow:0 2px 6px rgba(5,5,5,0.9);
	z-index:999;
	text-align:left;
}
.inner-menu-item > a{
	display:block;
	padding:5px 10px;
	color:black;
}
.inner-menu-item > a:hover{
	
	background:black;
	color:white;
}
/* lnb */
#lnb { position:relative; padding-top:33px; float:left; width:218px;}
#lnb h2.lnbTitle { padding:10px 28px 23px 0; text-align:right; font-size:26px; font-weight:bold; color:#267376; background:url(/asan/images/common/bg_lnbTitleBar.gif) 159px 1px no-repeat;}
#lnb ul.depth1 > li {width:160px; display:block; padding-right:29px; text-align:left; padding-top:17px; height:32px; line-height:1; font-size:18px; color:#333; font-weight:bold; border-top:1px solid #d6d6d6;}
#lnb ul.depth1 > li > a { display:block; padding-right:29px; text-align:right; padding-top:17px; height:32px; line-height:1; font-size:18px; color:#333; font-weight:bold; border-bottom:1px solid #d6d6d6;}
#lnb ul.depth1 > li:first-child > a {padding-top:17px;height:32px}
#lnb ul.depth1 > li.current > a { color:#fff; text-decoration:none; padding-top:17px;height:32 px; background:#0e787c; border-bottom:1px solid #0e787c;}
#lnb ul.depth1 > li > .depth2 { display:none; padding:20px 29px 22px 0; border-top:1px solid #d6d6d6; background:#f2f2f2; border-bottom:1px solid #d6d6d6;}
#lnb ul.depth1 > li > .show { display:block;}
#lnb ul.depth1 > li > ul.depth2 > li > a { display:block; text-align:left; line-height:32px; font-size:15px; color:#333; font-weight:bold;}
#lnb ul.depth1 > li > ul.depth2 > li.current > a { color:#0e787c; text-decoration:underline;}

#lnb .lnbTelBox { padding:17px 0 17px 31px; margin:40px 15px 0; border:1px solid #ddd;}
#lnb .lnbTelBox li{ font-weight:bold; font-size:15px; }
#lnb .lnbTelBox .lnbTelText { margin-top:3px; font-size:24px; line-height:25px;}


/* footer : 공통하단 */
#footer {
   background-color: #6496BA;
   text-align: center;
}
#footer h1 {
   padding: 60px 0 35px;
   color: #fff;
}
#footer address {
   padding: 0 20px 40px;
   font-size: 1rem; font-weight: 300; color: #fff;
   text-transform: uppercase;
   font-style: normal;
   word-break: keep-all;
}



